.baloon2Container{
	width: 50px;
	height: 200px;
	text-align: center;	
}
.baloonBig{
	-webkit-transition: all 0.5s linear;
	-webkit-backface-visibility: hidden;
}

@-webkit-keyframes baloonBigFly{
	0%{
		
	}
	100%{
		
	}
}

@-webkit-keyframes baloonSmallFly{
	0%{
		-webkit-transform: rotate(0deg);
	}
	100%{
		-webkit-transform: rotate(-360deg);		
	}
}