.moodItemContainer{
	width: 112px;
	height: 112px;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}
.moodImage{
	width: 100%;
	height: 100%;
	-webkit-transform: scale(1);
	-webkit-transition: -webkit-transform 0.7s ease-in-out;
	-webkit-backface-visibility: hidden;
}
.moodName{
	top: -4px;
	font-size: 12pt;
	text-align: center;
	font-weight: bold;
}

/*
 * Animation
 */
@-webkit-keyframes moodIconSelect{
	0%{
		-webkit-transform: rotate(0deg) scale(1);
	}
	33%{
		-webkit-transform: rotate(-10deg) scale(1.09);	
	}
	66%{
		-webkit-transform: rotate(10deg) scale(1.16);
	}
	100%{
		-webkit-transform: rotate(0deg) scale(1.2);
	}
}