<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>

	<link href="css/ChatWithChatman.css" rel="stylesheet" type="text/css" />
<link href="css/Common.css" rel="stylesheet" type="text/css" />
<script src="js/Infrastructure/jquery-1.5.1.js" type="text/javascript"></script>
<script src="js/Infrastructure/jquery.tmpl.js" type="text/javascript"></script>
<script src="js/Infrastructure/PageServices.js" type="text/javascript"></script>
<script src="js/Infrastructure/Utils.js" type="text/javascript"></script>
<script src="js/Pages/PersonalitiesData.js" type="text/javascript"></script>
<!--END REMOVE-->

<script src="js/Infrastructure/BaseControl.js" type="text/javascript"></script>
<script src="js/Infrastructure/BasePage.js" type="text/javascript"></script>
<script src="js/Infrastructure/BasePopup.js" type="text/javascript"></script>
<script src="js/Pages/Common.js" type="text/javascript"></script>

<!-- Requirements  -->
<link href="css/AutoScrollingList.css" rel="stylesheet" type="text/css" />
<script src="js/Controls/AutoScrollingList.js" type="text/javascript"></script>
<!--<link href="js/plugins/jquery-ui-1.8.11.custom/css/ui-lightness/jquery-ui-1.8.11.custom.css" rel="stylesheet" type="text/css" />
<script src="js/plugins/jquery-ui-1.8.11.custom/js/jquery-ui-1.8.11.custom.min.js" type="text/javascript"></script>-->
<!-- Template -->
<script id="autoScrollingListTemplate" type="text/x-jquery-tmpl">
	<div class="autoScrollingContainer">
    <span class="leftScroller"></span>
    <span class="rightScroller"></span>
    
    <div class="itemsContainer"></div>

  </div>
</script>
<!-- Requirements  -->
<link href="css/MiniPersonalityButton.css" rel="stylesheet" type="text/css" />
<script src="js/Controls/MiniPersonalityButton.js" type="text/javascript"></script>
<script src="js/Controls/ImageManager.js" type="text/javascript"></script>
<!-- Template -->
<script id="miniPersonalityButtonTemplate" type="text/x-jquery-tmpl">
    <div class="miniPersonalityButton">
      <div class="personalityName">${Name}</div>      
      <div class="roundBackground"></div>
      <div class="miniPersonalityIconContainer">
        <div class="backImages"></div>
        <img src="images/Personalities/${BaseIconID}.png" alt="" class="miniPersonalityIcon" />
        <div class="frontImages"></div>
      </div>      
    </div>
</script>
<!-- Requirements  -->
<link href="css/ChatmanConversation.css" rel="stylesheet" type="text/css" />
<script src="js/Controls/ChatmanConversation.js" type="text/javascript"></script>

<link rel="stylesheet" type="text/css" href="css/Infrastructure/superfish.css" media="screen">
<script type="text/javascript" src="js/Infrastructure/hoverIntent.js"></script>
<script type="text/javascript" src="js/Infrastructure/superfish.js"></script>
<script type="text/javascript" src="js/Infrastructure/supersubs.js"></script>
  
<!-- Requirements  -->
<link href="css/CallOut.css" rel="stylesheet" type="text/css" />
<script src="js/Controls/CallOut.js" type="text/javascript"></script>

<!-- Templates -->
<script id="userCallOutTemplate" type="text/x-jquery-tmpl">
  <div class="callOutContainer userCallOut">
    <div class="whoContainer">Cyberdyne User: </div>
    <div class="messageContainer"></div>
    <div class="roundedEdge userCallOutRoundedEdge"></div>
  </div>
</script>

<script id="chatmanCallOutTemplate" type="text/x-jquery-tmpl">  
  <div class="callOutContainer chatmanCallOut">
    <div class="roundedEdge chatmanCallOutRoundedEdge"></div>  
    <div class="whoContainer">Terminator T-800: </div>
      <div class="messageContainer"></div>          
  </div>
</script>
<!-- Requirements  -->
<link href="css/ActionButton.css" rel="stylesheet" type="text/css" />
<script src="js/Controls/ActionButton.js" type="text/javascript"></script>
<!-- Requirements  -->
<link href="css/ActionCloud.css" rel="stylesheet" type="text/css" />
<script src="js/Controls/ActionCloud.js" type="text/javascript"></script>
<script src="js/Infrastructure/seqFade.js" type="text/javascript"></script>
<!-- Template -->
<script id="actionCloud" type="text/x-jquery-tmpl">
  <div id="cloud">
    <span id="editLink" command="EditActionClicked" style="top: 27px; left: 110px;">Edit</span>
    <span id="shareLink" command="ShareActionClicked" style="top: 27px; left: 20px;">Share</span>
    <span command="PlayActionClicked" style="top: 27px; right: 20px;">Play</span>
    <span command="CloneActionClicked" style="bottom: 15px; left: 80px;">Clone </span>
    <span command="DeleteActionClicked" style="bottom: 15px; right: 75px;">Delete</span>    
  </div>
  
  <div id="moodImage">    
    <div class="moodName">
      <div class="moodNameText">
        <span id="moodText" class="nameWrapper"></span>
      </div>
    </div>
  </div>   
</script>
<!-- Requirements  -->
<link href="css/InfoMenu.css" rel="stylesheet" type="text/css" />
<script src="js/Controls/InfoMenu.js" type="text/javascript"></script>

<!-- Template -->
<script id="infoMenuTemplate" type="text/x-jquery-tmpl">
  
  <div class="infoMenuContainer">
    <ul class="infoMenu">
      <li class="infoTitle">
        <div id="TextBlock_1">Description</div>
      </li>
      <li id="descriptionInfo"></li>
      <li>
        <hr class="line" />
      </li>
      <li class="infoTitle">
        <div id="TextBlock_3">Designer</div>
      </li>
      <li id="designerInfo"></li>
      <li>
        <hr class="line" />
      </li>
      <li id="scope"></li>
    </ul>  
  </div>  
  
</script>

<!-- Template -->
<script id="actionButtonTemplate" type="text/x-jquery-tmpl">
	<div class="actionButtonContainer  {{if IsLong}}actionButtonLong{{/if}} ">
		<div class="actionButton">
  		<div class="btnActionInfo"></div>
			<span class="actionName" title="${Description}">${Name}</span>      
		</div>
    <div class="moodIconContainer" style="background: url('images/Moods/Small/${MoodName}.png') no-repeat;">
     
    </div>
	</div>
</script>

<!-- Template -->
<script id="chatmanConversationTemplate" type="text/x-jquery-tmpl">
  
  <div class="chatmanConversationContainer">     
      <div class="calloutsContainer"></div>
      <div class="textBoxLabel">
        Interact With The Terminator To Test It's Conversation Capability.
      </div>

      <form class="textForm">
        <textarea class="textBox"></textarea>
        <div class="pushButtonRed">SAY</div>

        
        <div class="autoQuestions">
          <span class="leftScrollerQuestions"></span>
          <div class="menuContainer">
            <ul class="sf-menu"></ul>
          </div>
          <span class="rightScrollerQuestions"></span>
        </div>
        <div class="whiteOverlaper1"></div>
        <div class="whiteOverlaper2"></div>
        
      </form>
  </div>
</script>
<!-- Requirements  -->
<link href="css/ChatmanBrainpower.css" rel="stylesheet" type="text/css" />
<script src="js/Controls/ChatmanBrainpower.js" type="text/javascript"></script>
<!-- Requirements  -->
<link href="css/ChatmanBrainpowerImage.css" rel="stylesheet" type="text/css" />
<script src="js/Controls/ChatmanBrainpowerImage.js" type="text/javascript"></script>
<!-- Template -->
<script id="chatmanBrainpowerImageTemplate" type="text/x-jquery-tmpl">
  <div class="brainpowerImageContainer">
    <div class="roundBackground"></div>
    <div class="brainpowerIconContainer">
      <img src="${ImagePath}" alt="" class="brainpowerViewIcon" />
    </div>
    <div class="smartImageQuestion"></div>
    <div class="brainpowerViewName">{{if Name}}${Name}{{/if}}</div>
  </div>
</script>
<!-- Requirements  -->
<link href="css/HorizontalBar.css" rel="stylesheet" type="text/css" />
<script src="js/Infrastructure/LevelColor.js" type="text/javascript"></script>
<script src="js/Controls/HorizontalBar.js" type="text/javascript"></script>

<!-- Template -->
<script id="horizontalBarTemplate" type="text/x-jquery-tmpl">
  <div class="horizontalBar">
    <div class="barLevel"></div>
  </div>
</script>
<!-- Requirements  -->
<link href="css/SimpleText.css" rel="stylesheet" type="text/css" />
<script src="js/Controls/SimpleText.js" type="text/javascript"></script>

<!-- Template -->
<script id="simpleTextTemplate" type="text/x-jquery-tmpl">
  <span class="simpleTextContainer"></span>
</script>

<!-- Template -->
<script id="chatmanBrainpowerTemplate" type="text/x-jquery-tmpl">
  <div class="chatmanBrainpowerContainer">
    <div class="chatmanBrainpowerTop">
      <div class="chatmanBrainpowerImageControl"></div>
      <div class="scoreControl">
        <div class="levelText">
          <b>LEVEL: </b><span class="levelStatus"> {{if OldLevel}} ${OldLevel} {{else}} ${Level} {{/if}}</span>
        </div>
        <div class="scoreText">
          <b>SCORE:</b>
          <div class="scoreTextControl"></div>          
        </div>
        <div class="scoreTextInstructions">Program new voice audio along with new word and question recognition.</div>
      </div>
    </div>


    <ul class="chatmanBrainpowerBottom">
      <li>
        <div class="newChitChatsHorizontalBarControl"></div>
        <img class="newChitChatImage" src="images/New-chit-chat-callout.png" />
        <div class="newChitChatButton pushButtonBlue">NEW CHITCHAT</div>
        <div class="shareButton pushButtonBlue">SHARE</div>
      </li>
      <li class="newChitChatsText"></li>
      <li>
        <div class="newWordsHorizontalBarControl"></div>
        <img class="newQuestionImage" src="images/New-question-callout.png" />
        <div class="newWordButton pushButtonBlue">NEW WORDS</div>
        <img class="newWordsImage" src="images/New-word-callout.png" />
        <div class="newQuestionsButton pushButtonBlue">NEW QUESTION</div>
      </li>
      <li class="newWordsText"></li>
    </ul>
  </div>
</script>
<!-- Requirements  -->
<link href="css/ActionList.css" rel="stylesheet" type="text/css" />
<script src="js/Controls/ActionList.js" type="text/javascript"></script>

<!-- Template -->
<script id="actionListTemplate" type="text/x-jquery-tmpl">
  <div class="actionListContainer">
    
    <div class="contentTop">
      <span class="chitChatCountText"></span>
      <img class="searchButton" src="images/ChatWithChatmanPage/searchButton.png" role="search" />
      <img class="searchButton" src="images/ChatWithChatmanPage/searchCancelButton.png" role="cancelSearch" />
    </div>
       
    <div class="actionList">      
      <div class="actionListItemsContainer"></div>
    </div>

    <span class="actionListLeftScroller"></span>
    <span class="actionListRightScroller"></span>
    
  </div>
</script>
<!-- Requirements  -->
<link href="css/PlayAround.css" rel="stylesheet" type="text/css" />
<script src="js/Controls/PlayAround.js" type="text/javascript"></script>

<!-- Template -->
<script id="playAroundTemplate" type="text/x-jquery-tmpl">
  <div class="playAroundContainer">

  </div>  
</script>

    <script src="js/Infrastructure/string.format-1.0.packed.js" type="text/javascript"></script>
    <script src="js/Infrastructure/jquery.tipTip.js" type="text/javascript"></script>
    <link href="css/Infrastructure/tipTip.css" rel="stylesheet" type="text/css" />
    
    <script src="js/Resources/ChatmanGUIControlsResourceStrings.js" type="text/javascript"></script>
    <script src="js/Resources/Constants.js" type="text/javascript"></script>
    <script src="js/Pages/ChatWithChatman.js" type="text/javascript"></script>
    <script src="js/Data/dummyDeclaration.js" type="text/javascript"></script>
    <!--END REMOVE-->
</head>
<body>
	<div id="chatWithChatmanContainer">
	    <div id="chatWithChatmanHeading" class="pageHeading">
	        <div class="pageHeaderHelp"></div>
	    </div>
	    
	    <div id="chatWithChatmanMain">
	        <div id="column1">
	            <div id="personalityArea" class="area">
	                <div id="singlePersonalitySelectorControl">
	                </div>
	                <div id="personalityStuffButtons">
	                    <div id="changeMoodButton" class="pushButtonBlue" onclick="executeCommand('', 'NavigateMoods', '')">CHANGE MOOD</div>
	                    <div id="personalititesButton" class="pushButtonBlue" onclick="executeCommand('', 'NavigateNewPerosnalities', '')">PERSONALITIES</div>
	                </div>
	            </div>
	            
	            <div id="chatArea" class="area">
	            </div>
	        </div>

	        <div id="column2">
	            <div id="chatmanBrainpowerArea" class="area">
	                <div id="chatmanBrainpowerWrapper">              
                        <div id="chatmanBrainpowerHeading" class="areaHeading"></div>
	                    <div id="chatmanBrainpowerControl"></div>	
	                </div>                        
	            </div>
	            
	            <!-- Hides chatman conversation question menu -->
                <div id="menuHider"></div>

	            <div id="tabArea" class="area">	 
	                       
	                <div id="tabContainer">
                        <div id="tabButtonsContainer">
                          <div id="playAroundTab" class="tabButton selectedTabButton" index="0"></div>
                          <div id="myChitChatTab" class="tabButton" index="1"></div>
                          <div id="downloadedTab" class="tabButton" index="2"></div>
                          <div id="sharedTab" class="tabButton" index="3"></div>
                        </div>
                        
                        <div id="tabContentContainer">
                          <div class="tabContent selectedTabContent">
                            <div id="playAroundControl"></div>                            
                          </div>
                          <div class="tabContent">                            
                            <div id="myChitChatsActionListControl" class="actionListControl"></div>
                            <div id="myChitChatShareButton" class="pushButtonBlue" onclick="executeCommand('', 'ShowSharingWithFriends', '');">SHARE</div>
                          </div>
                          <div class="tabContent">
                            <div id="downloadedActionListControl" class="actionListControl"></div>
                          </div>
                          <div class="tabContent">                            
                            <div id="sharedActionListControl" class="actionListControl"></div>
                          </div>
                        </div>
                    </div>                    
	            </div>	
	                    	        
	        </div>
	    </div>
	</div>
</body>
</html>
